*{transition: 20ms;
box-shadow:rgb(238, 238, 238);
background-color: rgba(203, 195, 218, 0.747);}

h1{
    color:aquamarine;
    text-align: center;
}

.nav{
    display: flex;
    list-style-type: none;
    color: rgb(0, 0, 0);
    flex-direction:column;
    
}

.nav li a{
  display: block;
  color: #1c02ff;
  padding: 14px 16px;
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: row;
}

.container > div{
  margin: 10px;
}